<div class="content">
    <h2>Google Maps Ali Can Yücel</h2>
    <agm-map [latitude]="locations[0].lat" [longitude]="locations[0].lng" [zoom]="zoom" [mapDraggable]="true" (mapClick)="mapclick($event)"  [disableDoubleClickZoom]="true"  (mapDblClick)="mapdoubleclick($event)">
        <agm-marker *ngFor="let location of locations"
        [latitude]="location.lat" [longitude]="location.lng" [markerDraggable]="true"  (markerClick)="markerClick($event)"
        ></agm-marker>
       
    </agm-map>
</div>
